<template>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Poster
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Title
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Description
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Rating
              </th>
              <th scope="col" class="relative px-6 py-3">
                <span class="sr-only">Edit/Add Showtimes</span>
              </th>
            </tr>
            </thead>
            <tbody>

            <tr v-for="(movie, idx) in movies" :key="movie.id" :class="idx % 2 === 0 ? 'bg-white' : 'bg-gray-50'">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                <img :src="`/images/${movie.poster}`" class="shadow-xl rounded-md w-full inline-block" style="width: 260px; height: auto;">
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-bold">
                {{ movie.title }}
              </td>
              <td class="px-6 py-4 wrap text-sm text-gray-500" v-html="movie.description">

              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                {{ movie.rating }}
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                <a :href="`/admin/edit-movie-showtimes/${movie.id}`" class="text-indigo-600 hover:text-indigo-900">Edit/Add Showtimes</a>
              </td>
            </tr>


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data(){
    return{
      movies: [],
    };
  },
  methods: {
    async getAllMovies() {
      const config = {
        method: 'get',
        url: `/api/v1/movie`,
        baseURL: process.env.APP_URL,
      };

      await axios(config).then((res) => {
        this.movies = res.data.data;
        // this.isLoading = false;
        //console.log(res);
      }).catch((err) => {
        console.error('Error loading Movies.', err);
        this.isError = true;
        this.isLoading = false;
        if (err.response) {
          // 400 errors
          console.error('400 errors', err.response);
          console.error('response status', err.response.status);
          console.error('response data', err.response.data);
          console.error('response headers', err.response.headers);
        } else if (err.request) {
          // 500 errors
          console.error('500 errors', err.request);
        } else {
          // Never leaves the site
          console.error('other error', err);
        }
        // console.log('err.config', err.config);
      });
    },
  },
  mounted() {
    this.getAllMovies();
  },
}
</script>