<template>
  <Switch
      v-model="enabled"
      :class="[enabled ? 'bg-primary-dark dark:bg-gray-500' : 'bg-gray-200', 'relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ' +
   'ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-dark']">
    <span class="sr-only">Use setting</span>
    <span aria-hidden="true" :class="[enabled ? 'translate-x-5' : 'translate-x-0', 'pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200']" />
  </Switch>
</template>

<script>
    import { Switch } from '@headlessui/vue';

    const root = document.documentElement;
    const scheme = localStorage.getItem('scheme');

    export default {
        components: {
            Switch,
        },
        data() {
            return {
                enabled: false,
            };
        },
        watch: {
            enabled(value) {
                if (value) {
                    root.classList.remove('light');
                    root.classList.add('dark');
                    localStorage.setItem('scheme', 'dark');
                } else {
                    root.classList.remove('dark');
                    root.classList.add('light');
                    localStorage.removeItem('scheme');
                }
            },
        },
        methods: {
            isDarkModeEnabled() {
                if (scheme === 'dark') {
                    this.enabled = true;
                }
            },
        },
        mounted() {
            this.isDarkModeEnabled();
        },
    };
</script>
