<template>
    <button type="button" class="menu-toggler ml-7 la la-bars" @click="toggleMenu"></button>
</template>

<script>

    const menuBar = document.getElementById('menu-bar');
    console.log(menuBar.classList);

    export default {
        data() {
            return {
                hidden: false,
            };
        },
        watch: {
            hidden(value) {
                if (!value) {
                    menuBar.classList.remove('menu-hidden');
                } else {
                    menuBar.classList.add('menu-hidden');
                }
            },
        },
        methods: {
            toggleMenu() {
                this.hidden = !this.hidden;
                console.log(this.hidden);
            },
            isMenuHidden() {
                if (menuBar.classList.contains('menu-hidden')) {
                    this.hidden = true;
                }
            },
        },
        mounted() {
            //this.isMenuHidden();
            //console.log(menuBar.classList);
        },
    };
</script>
