<template>
  <!-- Menu Bar -->
  <aside class="menu-bar menu-sticky" id="menu-bar">
    <!-- Main Menu -->
    <div class="menu-items">
      <a v-for="menuItem in menu" :key="menuItem.title" class="link" :class="isActiveRoute(menuItem)" :href="menuItem.href" @mouseenter="openSubmenu(menuItem)">
        <span class="icon la" :class="menuItem.icon"></span>
        <span class="title">{{ menuItem.title }}</span>
      </a>
    </div>
    <!-- Submenu -->
    <div class="menu-detail" :class="menuDetailOpen" data-menu="back-office" @mouseleave="hideSubMenu">
      <div class="menu-detail-wrapper">
        <div v-for="(menu, index) in subMenu" :key="index">
          <h6 class="menuSubtitle">{{ menu.menuSubtitle }}</h6>
          <a v-for="(link, idx) in menu.links" :key="idx" :href="link.href">{{ link.title }}</a>
          <hr>
        </div>
      </div>
    </div>
  </aside>
</template>

<script>
    export default {
        name: 'MainMenu',
        props: ['route'],
        data() {
            return {
                menuDetailOpen: '',
                subMenu: [],
                menu: [
                    {
                        title: 'Dashboard',
                        icon: 'la-laptop',
                        href: '/admin/dashboard',
                    },
                    {
                      title: 'Movies',
                      icon: 'la-video',
                      href: '#',
                      children: [
                        {
                          menuSubtitle: 'Movies Management',
                          links: [
                            {
                              title: 'All Movies',
                              href: '/admin/movies',
                            },
                            {
                              title: 'Add Movie',
                              href: '/admin/movies/create',
                            },
                            {
                              title: 'Reviews',
                              href: '',
                            },
                          ],
                        }
                      ]
                    },
                  {
                    title: 'Tickets',
                    icon: 'la-ticket-alt',
                    href: '#',
                  },
                  {
                    title: 'Events',
                    icon: 'la-calendar-week',
                    href: '#',
                  },
                  {
                    title: 'Employees',
                    icon: 'la-users',
                    href: '#',
                  },
                ],
            };
        },
        methods: {
            openSubmenu(menuItem) {
                if (menuItem.children) {
                    this.subMenu = menuItem.children;
                    this.menuDetailOpen = 'open';
                } else {
                    this.menuDetailOpen = '';
                    this.subMenu = '';
                }
            },
            isActiveRoute(menuItem) {
                if (menuItem.href === this.route) {
                    return 'active';
                }
                if (menuItem.children) {
                    for (let i = 0; i < menuItem.children.length; i++) {
                        for (let j = 0; j < menuItem.children[i].links.length; j++){
                            if (menuItem.children[i].links[j].href === `/${this.route}`) {
                                return 'active';
                            }
                        }
                    }
                }
                return '';
            },
            hideSubMenu() {
                this.menuDetailOpen = '';
                this.subMenu = '';
            },
        },
    };
</script>
