<template>
  <Menu as="div" class="relative inline-block text-left">
    <div>
      <MenuButton class="inline-flex justify-center w-full">
        <button class="flex items-center ml-4 text-gray-700">
            <span class="avatar gradient-primary-to-primary-dark">
                    <span class="status bg-green-500"></span>
                    <i class="las la-user"></i>
                </span>
        </button>
      </MenuButton>
    </div>

    <transition enter-active-class="transition ease-out duration-100" enter-from-class="transform opacity-0 scale-95" enter-to-class="transform opacity-100 scale-100"
                leave-active-class="transition ease-in duration-75" leave-from-class="transform opacity-100 scale-100" leave-to-class="transform opacity-0 scale-95">
      <MenuItems class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white dark:bg-gray-800 :dark:text-gray-200 ring-1 ring-black ring-opacity-5 focus:outline-none">
        <div class="w-64">
          <div class="p-5">
            <h5 class="uppercase">{{ username }}</h5>
          </div>
          <hr>
          <div class="p-5">
            <MenuItem>
              <a href="#"
                 @click="logout"
                 class="flex items-center text-gray-700 dark:text-gray-500 hover:text-primary dark:hover:text-primary">
                <span class="la la-power-off text-2xl leading-none mr-2"></span>
                Logout
              </a>
            </MenuItem>
            <form id="logout-form" action="/logout" method="POST" style="display: none;">
              @csrf
            </form>
          </div>
        </div>
      </MenuItems>
    </transition>
  </Menu>
</template>

<script>
    import {
        Menu, MenuButton, MenuItem, MenuItems,
    } from '@headlessui/vue';
    import axios from 'axios';

    export default {
        components: {
            Menu,
            MenuButton,
            MenuItem,
            MenuItems,
        },
        props: {
            username: {
                type: String,
                required: true,
            },
        },
        methods: {
            async logout() {
                await axios.post('/logout')
                    .then(() => window.location.href = '/login').catch((err) => console.error('Error login out', err));
            },
        },
    };
</script>
