<template>
  <div class="">
    <Popover as="header" class="pb-24" v-slot="{ open }">
      <div class="max-w-9xl mx-auto px-4 sm:px-6 lg:max-w-9xl lg:px-8">
        <div class="relative py-5 flex items-center">
          <!-- Filter -->
            <p class="text-brand uppercase text-sm"><i class="las la-filter"></i> Filter by:</p>
            <!-- Movies Dropdown  -->
            <Menu as="div" class="ml-4 relative flex-shrink-0">
              <div>
                <MenuButton class="rounded-lg bg-gray-900 opacity-80 rounded-md flex text-2xl ring-2 ring-white ring-opacity-20 focus:outline-none focus:ring-opacity-100 px-5 py-2">
                  <div class="">
                    <span class="text-gray-200 mr-3">{{ movieTitle }}</span>
                    <i class="las la-angle-double-down text-brand"></i>
                  </div>
                </MenuButton>
              </div>
              <transition leave-active-class="transition ease-in duration-75" leave-from-class="transform opacity-100 scale-100" leave-to-class="transform opacity-0 scale-95">
                <MenuItems class="origin-top-left z-40 absolute left-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none">
                  <MenuItem v-slot="{ active }" v-for="movie in moviesTitlesAndIds" :key="movie.id">
                    <a href="#" @click.prevent="getMovieById(movie.id)" :class="'bg-gray-100 block px-4 py-2 text-sm text-gray-700'">{{ movie.title }}</a>
                  </MenuItem>
                </MenuItems>
              </transition>
            </Menu>
        </div>
      </div>
    </Popover>
    <main class="-mt-24 pb-8">
      <div class="max-w-9xl mx-auto px-4 sm:px-6 lg:max-w-9xl lg:px-8">
        <!-- Main 3 column grid -->
        <div v-for="movie in movies" :key="movie.id" class="rounded-lg bg-gray-900 mb-20 p-3">
            <div class="grid grid-cols-1 gap-4 items-start lg:grid-cols-3 lg:gap-8">
                <!-- Left column with Movie Detail -->
                <div class="grid grid-cols-1 gap-4 lg:col-span-2">
                  <section aria-labelledby="section-1-title">
                    <div class="overflow-hidden shadow text-white">
                      <div class="p-4">
                        <div class="flex">
                          <div class="mr-5 flex flex-shrink-0">
                            <img :src="`/images/${movie.poster}`" class="shadow-xl rounded-md w-full inline-block" style="width: 260px; height: auto;">
                          </div>
                          <div>
                            <h1 class="text-brand">{{ movie.title }}</h1>
                            <p class="text-sm">1 HR 40 MIN  |  <span class="font-bold">Rating:</span> <span class="text-brand font-bold">{{ movie.rating }}</span></p>
                            <div class="inline-flex items-center">
                              <div class="flex-shrink-0 flex pr-5">
                                <StarIcon class="h-5 w-5 text-yellow-400" aria-hidden="true" />
                                <StarIcon class="h-5 w-5 text-yellow-400" aria-hidden="true" />
                                <StarIcon class="h-5 w-5 text-yellow-400" aria-hidden="true" />
                                <StarIcon class="h-5 w-5 text-yellow-400" aria-hidden="true" />
                                <StarIcon class="h-5 w-5 text-white" aria-hidden="true" />
                              </div>
                              <div class="min-w-0 flex-1 pl-3 py-1 text-sm text-gray-200 sm:py-3">
                                <span class="font-medium">Rated 4 stars</span> by over
                                <span class="font-medium text-blue-500"><a href="#reviews">500 movie goers</a></span>
                              </div>
                            </div>
                            <div v-html="movie.description"></div>
                          </div>
                        </div>
                        <div class="my-5">
                          <img :src="`/images/POOL_2+play+button.jpeg`" class="shadow-xl rounded-md w-full inline-block opacity-40">
                        </div>
                        <div class="my-7">
                          <h4 class="text-brand text-lg">Cast</h4>
                          <ul class="mx-auto grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-4 md:gap-x-6 lg:max-w-5xl lg:gap-x-8 lg:gap-y-12 xl:grid-cols-6">
                            <li v-for="person in people" :key="person.name">
                              <div class="space-y-4">
                                <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" :src="person.imageUrl" alt="" />
                                <div class="space-y-2">
                                  <div class="text-xs font-medium lg:text-sm">
                                    <h5>{{ person.name }}</h5>
                                    <p class="text-gray-400">{{ person.role }}</p>
                                  </div>
                                </div>
                              </div>
                            </li>
<!--                            <li><i class="las la-angle-double-right text-brand text-2xl mt-20"></i></li>-->
                          </ul>
                        </div>
                        <!-- todo This should be its own component -->
                        <div id="reviews">
                          <h4 class="text-brand text-lg">Reviews <i class="las la-comment-dots text-2xl"></i> </h4>
                          <div v-for="review in movie.reviews" class="mb-3">
                            <p>Guest</p>
                            <div v-html='`${review.review}`' class="italic text-sm"></div>
                          </div>

                          <form class="mt-6" @submit.prevent="submitReview">
                              <h4 class="text-brand">Submit your review </h4>
                              <div class="flex items-baseline">
                                <textarea class="border-0 bg-gray-700 rounded-lg w-8/12" v-model="movieReview"></textarea>
                                <button class="btn-primary ml-3">Submit Review</button>
                            </div>
                          </form>

                        </div>
                      </div>
                    </div>
                  </section>
                </div>
                <!-- Right column with Showtimes -->
                <div class="grid grid-cols-1 gap-4">
                  <section aria-labelledby="section-2-title">
                    <div class="text-white">
                      <div class="p-1">
                        <p class="text-brand text-lg uppercase font-extrabold">Get Tickets</p>
                        <div class="flex flex-wrap">
                            <span v-for="showtime in movie.showtimes"
                                  @click="showTicketModal"
                                  class="rounded-xl border-2 border-gray-700 px-3 py-1 m-1 text-xs text-center hover:bg-brand">
                              {{ showtime.date}}<br>
                              <span class="font-bold">{{ showtime.time}}</span>
                            </span>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
            </div>
        </div>
      </div>
    </main>
  </div>

  <movie-checkout v-if="showCheckout"></movie-checkout>
</template>

<script>
  import {
  Menu,
  MenuButton,
  MenuItem,
  MenuItems,
  Popover,
  PopoverButton,
  PopoverOverlay,
  PopoverPanel,
  TransitionChild,
  TransitionRoot,
} from '@headlessui/vue';
  import { StarIcon } from '@heroicons/vue/solid';
  import Swal from 'sweetalert2';
  import axios from "axios";

  const Toast = Swal.mixin({
    toast: true,
    showConfirmButton: false,
    timer: 6000,
    timerProgressBar: true,
    didOpen: (toast) => {
      toast.addEventListener('mouseenter', Swal.stopTimer);
      toast.addEventListener('mouseleave', Swal.resumeTimer);
    },
  });

  export default {
  components: {
    Menu,
    MenuButton,
    MenuItem,
    MenuItems,
    Popover,
    PopoverButton,
    PopoverOverlay,
    PopoverPanel,
    TransitionChild,
    TransitionRoot,
    StarIcon,
  },
  props: {
    movieId: {
      required: false,
      type: String,
    }
  },
  data(){
    return{
      movies: [],
      allMovies: [],
      moviesTitlesAndIds: [],
      people: [
        {
          name: 'Michael Foster',
          role: 'Agent',
          imageUrl:
              'https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80',
        },
        {
          name: 'Joey Taylor',
          role: 'Waiter',
          imageUrl:
              'https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80',
        },
        {
          name: 'Jessica Smith',
          role: 'Agent 2',
          imageUrl:
              'https://images.unsplash.com/photo-1502685104226-ee32379fefbe?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80',
        },
      ],
      showCheckout: false,
      movieReview: '',
    };
  },
  computed: {
    movieTitle(){
      let mTitle = '';
      for (var prop in this.movies) {
        mTitle = this.movies[0].title;
        break;
      }

      return mTitle ?? 'Select';
    },
  },
  methods: {
    async getAllMovies() {
      const config = {
        method: 'get',
        url: `/api/v1/movie`,
        baseURL: process.env.APP_URL,
        // headers: {
        //   //pass headers if required
        // },
        // data: {
        //   // pass any data attributes if required
        // },
      };

      await axios(config).then((res) => {
        this.allMovies = res.data.data;
        this.getMovieTitleAndIds();

        if(this.movieId){
          this.getMovieById(parseInt(this.movieId));
        }
        else{
          this.movies = this.allMovies;
        }
        // this.isLoading = false;
        //console.log(res);
      }).catch((err) => {
        console.error('Error loading Movies.', err);
        this.isError = true;
        this.isLoading = false;
        if (err.response) {
          // 400 errors
          console.error('400 errors', err.response);
          console.error('response status', err.response.status);
          console.error('response data', err.response.data);
          console.error('response headers', err.response.headers);
        } else if (err.request) {
          // 500 errors
          console.error('500 errors', err.request);
        } else {
          // Never leaves the site
          console.error('other error', err);
        }
        // console.log('err.config', err.config);
      });
    },
    getMovieTitleAndIds() {
      for (const movieC of this.allMovies) {
        this.moviesTitlesAndIds.push({
          id: movieC.id,
          title: movieC.title,
        });
      }
      //console.log('moviesCopy', this.moviesTitlesAndIds);
    },
    async getMovieById(movieId){
      //console.log('get movie by ID', movieId);
      this.movies = this.allMovies.filter(movie => movie.id === movieId);
      // console.log('allMovies', this.allMovies);
      // console.log('final movies', this.movies);
    },
    showTicketModal(){
      // console.log('show ticket modal');
      this.showCheckout = !this.showCheckout;
    },
    async submitReview(){
      const config = {
        method: 'post',
        url: `/api/v1/movie-reviews`,
        baseURL: process.env.APP_URL,
        // headers: {
        //   //pass headers if required
        // },
        data: {
          review: this.movieReview,
          movie_id: this.movieId,
        },
      };

      axios(config).then((res) => {
        // show notification on success
        console.log(res);
        Toast.fire({
          icon: 'success',
          title: 'Review added!',
        });
        this.allMovies[parseInt(this.movieId-1)].reviews.push(res.data.data);
      }).catch((err) => {
        console.error(`Error: ${err.response}`);
      });
    },
  },
  mounted() {
    //console.log('mounted movie id: ', this.movieId);
    this.getAllMovies();
  },
  updated(){

  }
}
</script>