<template>
  <div>
    <img :src="`images/${poster}`" @click="$emit('show-movie-details')">
  </div>
</template>

<script>
export default {
  name: "Movie",
  props: {
      poster: {
        type: String,
        required: true,
      },
      id:{
        type:Number,
        required: false,
      }
    },
  emits: ['show-movie-details'],
}
</script>
