<template>
  <!-- todo add isLoading and isError Screens -->
  <div v-if="movie.id">
    <div class="absolute inset-0 z-negative lg:opacity-100 opacity-50">
      <video :src="`images/${movie.trailer}`" autoplay muted loop class="object-cover w-full h-full"></video>
    </div>
    <div class="container mx-auto lg:mt-56 lg:px-16 px-4 py-4">
      <div class="md:pl-8 md:border-l border-white">
        <p class="text-white tracking-wide text-base font-light leading-none">Out now</p>
        <h1 class="text-white md:text-6xl text-2xl font-bold font-sans m-0 md:leading-none">{{ movie.title }}</h1>
        <p class="text-white text-lg md:max-w-lg w-full md:my-4" v-html="movie.description"></p>
        <a :href="`/showtimes/${movie.id}`" class="btn-primary">Get Tickets</a>
      </div>
    </div>
  </div>
  <!-- default content just in case something happened to featured vidoe -->
  <div v-else>
    <div class="relative flex flex-wrap items-center video-cta md:py-0 px-4">
      <div class="absolute inset-0 w-full h-full z-negative opacity-75">
        <img src="images/video-bg-image.jpg" alt="#" class="object-cover w-full max-w-full h-full">
      </div>
      <div class="container mx-auto text-center text-white w-full flex flex-wrap">
        <h3 class="md:text-5xl text-3xl font-sans font-bold tracking-widge mb-4 w-full leading-tight">Releases Coming Soon</h3>
        <div class="w-full md:mb-16 mb-6">
          <a href="#" class="inline-flex item-center justify-center text-white w-auto hover:opacity-75">
            <svg class="fill-current text-white w-8 h-8" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
              <title>ic_play_circle_outline_48px</title>
              <path d="M20 33l12-9-12-9v18zm4-29C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm0 36c-8.82 0-16-7.18-16-16S15.18 8 24 8s16 7.18 16 16-7.18 16-16 16z"></path>
            </svg>
            <span class="ml-2 pb-1 border-b border-white">Play Video</span>
          </a>
        </div>
        <div class="w-full">
          <a href="#" class="inline-flex items-center justify-center text-white border-0 bg-brand px-8 py-3 hover:bg-white hover:text-black md:mt-0 mt-4 rounded">Our Theater</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: "MovieFeatured",
  data(){
    return {
      movie: [],
      isLoading: true,
    };
  },
  methods: {
    async getFeaturedMovie() {
      const config = {
        method: 'get',
        url: '/api/v1/featured-movie',
        baseURL: process.env.APP_URL,
        // headers: {
        //   //pass headers if required
        // },
        // data: {
        //   // pass any data attributes if required
        // },
      };

      await axios(config).then((res) => {
        this.movie = res.data.data[0];
        this.isLoading = false;
        //console.log(res);
      }).catch((err) => {
        console.error('Error loading Movie.', err);
        this.isError = true;
        this.isLoading = false;
        if (err.response) {
          // 400 errors
          console.error('400 errors', err.response);
          console.error('response status', err.response.status);
          console.error('response data', err.response.data);
          console.error('response headers', err.response.headers);
        } else if (err.request) {
          // 500 errors
          console.error('500 errors', err.request);
        } else {
          // Never leaves the site
          console.error('other error', err);
        }
        console.log('err.config', err.config);
      });
    },
  },
  mounted() {
    //console.log('mounted');
    this.getFeaturedMovie();
  }
}
</script>
