<template>
  <TransitionRoot as="template" :show="open">
    <Dialog as="div" static class="fixed z-10 inset-0 overflow-y-auto w-full" @close="open = false" :open="open">
      <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <TransitionChild as="template" enter="ease-out duration-300" enter-from="opacity-0" enter-to="opacity-100" leave="ease-in duration-200" leave-from="opacity-100" leave-to="opacity-0">
          <DialogOverlay class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" />
        </TransitionChild>

        <!-- This element is to trick the browser into centering the modal contents. -->
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        <TransitionChild as="template" enter="ease-out duration-300" enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95" enter-to="opacity-100 translate-y-0 sm:scale-100"
                         leave="ease-in duration-200" leave-from="opacity-100 translate-y-0 sm:scale-100" leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95">
          <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all
          sm:my-8 sm:align-middle sm:max-w-xl sm:w-full sm:p-6">
            <div>
              <div class="mt-3 text-center sm:mt-5">
                <div class="mt-2 mb-7">
                  <img src="/images/seats.png">
                </div>
                <DialogTitle as="h3" class="text-lg leading-6 font-medium text-gray-900 text-xs">
                  <p>User will select seat(s) and then proceed to ticket section (Adult, Child, Senior).</p>
                  <p>User will make selections and then proceed to checkout. They can checkout as a guest or create account/login.</p>
                  <p class="text-brand text-2xl">Happy user can watch their movie now <i class="lar la-kiss-wink-heart"></i></p>
                  <p><em>Vue component will accept props for date, time, and movie id. Then call API Gateway to move forward with checkout. </em></p>
                </DialogTitle>

              </div>
            </div>
            <div class="mt-5 sm:mt-6">
              <button type="button" class="inline-flex justify-center
              rounded-md border border-transparent shadow-sm px-4 py-2 bg-brand text-base
              font-medium text-white hover:bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm" @click="open = false">
                ILoveMovies
              </button>
            </div>
          </div>
        </TransitionChild>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<script>
import { ref } from 'vue'
import { Dialog, DialogOverlay, DialogTitle, TransitionChild, TransitionRoot } from '@headlessui/vue'
import { CheckIcon } from '@heroicons/vue/outline'

export default {
  components: {
    Dialog,
    DialogOverlay,
    DialogTitle,
    TransitionChild,
    TransitionRoot,
    CheckIcon,
  },
  setup() {
    const open = ref(true)

    return {
      open,
    }
  },
}
</script>