<template>
  <!-- todo add isLoading and isError Screens -->
<div class="mx-10">
  <div class="my-6 lg:px-16 px-4">
    <ul class="flex items-center leading-normal text-gray-500 font-alt">
      <li class="text-gray-300 pr-2">Movies showing at this theatre</li>
      <li class="pr-2">|</li>
      <li class="pr-2">
        <a href="/showtimes" class="text-brand">Showtimes</a>
      </li>
    </ul>
  </div>

  <carousel :items-to-show="6" :snapAlign="'start'">
    <slide v-for="movie in movies" :key="movie.id">
      <movie :poster="movie.poster" @show-movie-details="showMovieDetails(movie.id)" class="cursor-pointer"></movie>
    </slide>
    <template #addons>
      <navigation />
    </template>
  </carousel>
</div>

</template>

<script>
import axios from 'axios';
import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';

export default {
  name: "MovieSlideshow",
  components: {
    Carousel,
    Slide,
    Pagination,
    Navigation,
  },
  data() {
    return {
      movies: [],
    };
  },
  methods: {
    async getMovies() {
      const config = {
        method: 'get',
        url: '/api/v1/movie',
        baseURL: process.env.APP_URL,
        // headers: {
        //   //pass headers if required
        // },
        // data: {
        //   // pass any data attributes if required
        // },
      };

      await axios(config).then((res) => {
        this.movies = res.data.data;
        // this.isLoading = false;
        //console.log(res);
      }).catch((err) => {
        console.error('Error loading Movies.', err);
        this.isError = true;
        this.isLoading = false;
        if (err.response) {
          // 400 errors
          console.error('400 errors', err.response);
          console.error('response status', err.response.status);
          console.error('response data', err.response.data);
          console.error('response headers', err.response.headers);
        } else if (err.request) {
          // 500 errors
          console.error('500 errors', err.request);
        } else {
          // Never leaves the site
          console.error('other error', err);
        }
        console.log('err.config', err.config);
      });
    },
    showMovieDetails(movieId){
      console.log('show movie', movieId);
      location.href = `/showtimes/${movieId}`;
    }
  },
  mounted() {
    //console.log('mounted');
    this.getMovies();
    //console.log('movies:', this.movies);
  }
}
</script>
