/* BASE should be at the very beginning */
@import "tailwindcss/base";

@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,700|Nunito:400,700&display=swap");
@import url('https://use.typekit.net/ltn5cyi.css');
@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Barlow:400,700|Poppins:300,400&display=swap');

/* Main */
@import "base.css";
@import "tailwindcss/components";
@import "components.css";
@import "tailwindcss/utilities";

/* Custom */
@import "customer-facing.css";
@import "carousel.css";
