

  html {
    @apply font-body;
  }

  .dark .body {
    @apply bg-gray-900 text-gray-500;
  }

  .body {
    @apply relative flex w-full min-h-screen bg-gray-100 text-gray-700 text-sm;
  }

  .body.overlay-show {
    @apply overflow-hidden;
  }

  h1, .h1 {
    @apply font-heading text-3xl leading-10 md:text-4xl;
  }

  h2, .h2 {
    @apply font-heading font-bold text-2xl;
  }

  h3, .h3 {
    @apply font-heading font-bold text-xl;
  }

  h4, .h4 {
    @apply font-heading font-bold text-primary;
  }

  h5, .h5 {
    @apply font-heading font-bold text-base;
  }

  h6, .h6 {
    @apply font-heading font-bold text-xs;
  }


  small {
    @apply text-xs text-gray-600;
  }

  input {
    @apply min-w-0;
  }

  .dark hr {
    @apply border-gray-900;
  }

  /* GRADIENTS */
  .gradient-pink-to-orange-via-red {
    @apply bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500;
  }
  .gradient-pink-to-orange-via-red:hover {
    @apply bg-gradient-to-r from-pink-600 via-red-600 to-yellow-600;
  }

  .gradient-orange-to-pink-via-red {
    @apply bg-gradient-to-r from-yellow-500 via-red-500 to-pink-500;
  }
  .gradient-orange-to-pink-via-red:hover {
    @apply bg-gradient-to-r from-yellow-600 via-red-600 to-pink-600;
  }

  .gradient-primary-to-primary-dark {
    @apply bg-gradient-to-r from-primary to-primary-light;
  }

  .gradient-primary-to-primary-dark:hover {
    @apply bg-gradient-to-r from-primary-dark to-purple-600;
  }

  .gradient-secondary-to-red {
    @apply from-secondary to-secondary-dark bg-gradient-to-r
  }

  .gradient-secondary-to-red:hover {
    @apply from-yellow-500 to-red-500 bg-gradient-to-r
  }

  /* TYPOGRAPHY */
  .xl-heading {
    @apply text-3xl;
  }

  .page-heading {
    @apply text-2xl;
  }

  .section-heading {
    @apply text-xl;
  }

  .body-text {
    @apply text-base;
  }

  .description-text {
    @apply text-sm text-gray-600;
  }

  .workspace a {
    @apply text-primary;
  }

  .workspace a:hover {
    @apply text-primary-dark;
  }



