.carousel__icon {
    width: 1.2em;
    height: 1.2em;
    fill: currentColor;
}
.carousel {
    position: relative;
    text-align: center;
    box-sizing: border-box;
}

.carousel * {
    box-sizing: border-box;
}

.carousel__track {
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
}

.carousel__viewport {
    overflow: hidden;
}
.carousel__pagination {
    display: flex;
    justify-content: center;
    list-style: none;
}
.carousel__pagination-button {
    margin: 5px;
    width: 10px;
    height: 5px;
    border: 0;
    cursor: pointer;
    background-color: var(--carousel-color-secondary);
}

.carousel__pagination-button--active {
    background-color: var(--carousel-color-primary);
}
:root {
    /* Colors */
    --carousel-color-primary: #ff5900;
    --carousel-color-secondary: #8e98f3;
    --carousel-color-white: #ffffff;

    /* Navigation */
    --carousel-nav-width: 30px;
}.carousel__slide {
     scroll-snap-stop: auto;
     flex-shrink: 0;
     margin: 0;
     position: relative;

     display: flex;
     justify-content: center;
     align-items: center;
 }
.carousel__prev,
.carousel__next {
    background-color: var(--carousel-color-primary);
    border-radius: var(--carousel-nav-width);
    width: var(--carousel-nav-width);
    height: var(--carousel-nav-width);
    text-align: center;
    font-size: calc(var(--carousel-nav-width) * 2 / 3);
    padding: 0;
    color: var(--carousel-color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 0;
    cursor: pointer;
}

.carousel__prev {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

.carousel__next {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}
