/*------------------------------------------------------------------
Table of Contents

01. Top Bar
02. Menu Bar
03. Workspace
04. Breadcrumb
05. Dropdown
06. Custom Dropdown
07. Avatars
08. Buttons

-------------------------------------------------------------------*/


    /* Top Bar */
    #top-bar{
        @apply fixed z-30 top-0 w-full m-0 p-0;
    }
    .dark .top-bar {
        @apply bg-gray-800;
    }
    .dark .top-bar .menu-toggler {
        @apply text-gray-500;
    }
    .dark .top-bar .menu-toggler:hover {
        @apply text-gray-400;
    }
    .top-bar {
        @apply bg-white flex items-center w-full h-20 px-4 shadow md:px-4;
    }
    .top-bar .menu-toggler {
        @apply mr-2 text-3xl leading-none text-gray-600;
    }
    .top-bar .menu-toggler:hover {
         @apply text-primary;
     }
    .top-bar .brand {
        @apply font-heading font-bold text-2xl text-gray-700 uppercase;
    }

    /* Menu Bar */
    .dark .menu-bar .menu-items {
        @apply bg-gray-800;
    }
    .dark .menu-bar .menu-items .link {
        @apply border-gray-900 text-gray-400;
    }
    .dark .menu-bar .menu-items .link:hover {
        @apply text-gray-300;
    }
    .menu-bar .menu-items .link.active {
        @apply text-primary-dark;
    }
    .dark .menu-bar .menu-detail {
        @apply bg-gray-800;
    }
    .dark .menu-bar .menu-detail a {
        @apply text-gray-400;
    }
    .dark .menu-bar .menu-detail a span {
        @apply text-gray-700;
    }
    .dark .menu-bar .menu-detail hr {
        @apply border-gray-700;
    }
    .menu-bar {
        @apply absolute z-20 top-0 bottom-0 left-0 mt-20 leading-none;
        transition-property: margin, left, right;
        @apply duration-200 ease-linear;
    }
    .menu-bar .menu-sticky {
        @apply fixed;
    }
    /* Menu Items */
    .menu-bar .menu-items {
        @apply relative z-20 bg-white shadow h-full overflow-x-hidden overflow-y-auto;
        width: 130px;
        transition-property: width;
        @apply duration-200 ease-linear;
    }
    .menu-bar .menu-items .link {
        @apply relative block border-b border-gray-300 px-5 py-6 text-center text-gray-700;
        transition-property: color;
        @apply duration-200 ease-linear;
    }
    .menu-bar .menu-items .link .icon {
        @apply inline-block text-4xl leading-none;
    }
    .menu-bar .menu-items .link .title {
        @apply block mt-2 opacity-100;
        @apply transition-all duration-200 ease-linear;
    }
    .menu-bar .menu-items .link title:hover {
        @apply text-primary;
    }
    .menu-bar .menu-items .link.active {
        @apply text-primary;
    }
    .menu-bar .menu-items .link:hover {
        @apply text-primary;
    }
    .menu-bar .menu-items .link.active:before {
        @apply absolute top-0 bottom-0 left-0 my-4 block bg-primary rounded-tr-full rounded-br-full;
        content: "";
        width: 5px;
    }
    .menu-bar .menu-detail {
        @apply absolute z-10 top-0 bottom-0 p-10 bg-white overflow-y-scroll;
        left: -220px;
        width: 220px;
        @apply transition-all duration-200 ease-linear;
    }
    .menu-bar .menu-detail.open {
        @apply shadow;
        left: 130px;
    }
    .menu-bar .menu-detail a {
        @apply flex items-center mb-5 text-gray-700;
    }
    .menu-bar .menu-detail a span {
        @apply mr-2 text-2xl leading-none text-gray-600;
    }
    .menu-bar .menu-detail a:hover {
        @apply text-primary;
    }
    .menu-bar .menu-detail a:hover span {
        @apply text-primary;
    }
    .menu-bar .menu-detail a.active {
        @apply text-primary;
    }
    .menu-bar .menu-detail a.active span {
        @apply text-primary;
    }
    .menu-bar .menu-detail hr {
        @apply border-gray-200 mb-5;
    }
    .menu-bar .menu-detail h6 {
        @apply mb-3;
    }
    .menu-bar {
        @apply relative left-0 ml-0;
    }
    .menu-bar.menu-sticky {
        @apply sticky top-20;
        height: calc(100vh - 5rem);
    }
    .menu-bar .menu-detail {
        left: -300px;
        width: 300px;
    }
    .menu-bar.menu-hidden {
        margin-left: -130px;
        left: -130px;
    }
    .menuSubtitle{
        @apply uppercase font-bold text-primary !important;
    }

    /* Workspace */
    .workspace {
        @apply relative flex flex-auto flex-col mt-10 pt-5 pb-5 px-7 pt-10 md:px-12 md:mt-16;
    }
    .workspace_with-sidebar {
         @apply overflow-y-auto;
         height: calc(100vh - 5rem);
     }

    /* Breadcrumb */
    .dark .breadcrumb_alt {
        @apply bg-gray-800 bg-opacity-20;
    }
    .breadcrumb {
        @apply mb-5;
    }
    .breadcrumb ul {
        @apply flex items-center;
    }
    .breadcrumb li,
    .breadcrumb a {
        @apply flex items-center;
    }
    .breadcrumb .divider {
        @apply mx-1 text-gray-400;
    }
    .breadcrumb a {
        @apply text-gray-700;
    }
    .breadcrumb a:hover {
         @apply text-primary;
     }
    .breadcrumb_alt {
        @apply rounded-xl shadow bg-white bg-opacity-20;
    }
    .breadcrumb ul {
        @apply flex items-center;
    }

    /* Dropdown */
    .dark .dropdown-menu a {
            @apply text-gray-500;
    }
    .dark .dropdown-menu hr{
        @apply border-gray-900;
    }
    .dropdown-menu {
        @apply hidden p-5;
        min-width: 200px;
    }
    .dropdown-menu a{
        @apply block mb-2 text-gray-700;
    }
    .dropdown-menu a:hover {
        @apply text-primary;
    }
    .dropdown-menu a:last-child {
        @apply mb-0;
    }
    .dropdown-menu h6{
        @apply mb-2;
    }
    .dropdown-menu hr{
        @apply mb-2 border-gray-200;
    }

    /* Custom Dropdown */
    .custom-dropdown-menu {
        @apply hidden;
        min-width: 200px;
    }
    .custom-dropdown{
        transition: all 0.2s ease-in-out;
        overflow: hidden;
    }
    .custom-dropdown.closed .submenu {
        height: 0;
    }
    .custom-dropdown .submenu.open {
        @apply bg-white shadow-xl rounded-xl py-2 px-5 border border-gray-200;
    }


    /* Avatars */
    .dark .avatar {
        @apply bg-gray-900 text-white;
    }
    .avatar {
        @apply relative flex items-center justify-center w-12 h-12 rounded-full border-0 border-transparent text-xl text-gray-100;
    }
    .avatar img {
        @apply w-full h-full rounded-full object-cover;
    }
    .avatar .status {
        @apply absolute bottom-0 right-0 w-4 h-4 border-2 border-white rounded-full;
    }
    .avatar_with-shadow {
         @apply bg-gray-700 border-white shadow text-white;
     }

    /* Buttons */
    .dark .btn {
        @apply text-gray-500;
    }
    .dark .btn:hover {
         @apply text-gray-600;
     }
    .btn {
        @apply inline-flex items-center rounded-full px-5 py-2 border border-transparent font-bold text-white;
        @apply transition-all duration-200 ease-linear;
    }
    .btn:hover {
         @apply text-white;
     }
    .btn:disabled {
         @apply opacity-50;
     }
    .btn_outlined {
        @apply bg-transparent border-2 border-gray-200 text-gray-400;
    }
    .btn_outlined:hover {
        @apply bg-transparent border-2 border-gray-200 text-gray-500;
    }
    .dark .btn_outlined {
        @apply bg-transparent border-2 border-gray-500 text-gray-500;
    }
    .btn:hover:not([disabled]) {
         @apply bg-transparent;
     }

    /* BUTTONS */
    /* base button classes */
    .btn-base{
        @apply inline-flex items-center px-3 py-2 text-sm leading-4 font-medium rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2;
        @apply text-white !important;
    }
    .btn-white-base{
        @apply inline-flex items-center px-3 py-2 text-sm leading-4 font-medium rounded-md shadow-sm text-gray-700 border border-gray-200 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500
    }
    .btn-lg{
        @apply px-4 !important;
        @apply py-2 !important;
        @apply text-base !important;
    }
    .btn-xl{
        @apply px-6;
        @apply py-3;
        @apply text-base;
    }
    /* extended button classes */
    .btn-primary{
        @apply btn-base;
        @apply bg-primary hover:bg-primary-dark;
        @apply focus:ring-primary-dark;
    }
    .btn-secondary{
        @apply btn-base;
        @apply bg-secondary hover:bg-secondary-dark;
        @apply focus:ring-secondary-dark;
    }
    .btn-primary-lg{
        @apply btn-primary;
        @apply btn-lg;
    }
    .btn-secondary-lg{
        @apply btn-secondary;
        @apply btn-lg;
    }
    .btn-primary-xl{
        @apply btn-primary;
        @apply btn-xl;
    }
    .btn-secondary-xl {
        @apply btn-secondary;
        @apply btn-xl;
    }
    .btn-white-lg{
        @apply btn-white-base;
        @apply btn-lg;
    }
    .btn-white-xl{
        @apply btn-white-base;
        @apply btn-xl;
    }
