.header {
    height: auto;
}

.header nav {
    background: rgba(0, 0, 0, 0.2);
}

.video-cta {
    height: auto;
}

@media (min-width: 1024px) {
    .header {
        height: 762px;
    }

    .video-cta {
        height: 582px;
    }
}

.btn-primary {
    @apply bg-brand text-white px-10 py-3 my-2 inline-block rounded-sm;
}

.btn-primary:hover {
    @apply bg-black;
}
a:hover{
    @apply text-brand;
}
#showtimes_icon:hover{
    fill: #fff;
}
